section{
    width:100%;
    margin-bottom: 15px;
    
}
  
    
#banner-ad{
    height: 570px;
    overflow: hidden;
    margin-top: 46px;
    position: relative;
    margin-bottom: -8px;
}

#banner-ad .fondo{
    
    width: 100%;
    height: 100%;
}

#banner-ad .box-ad{
    width: 80%;
    height: 140px;
    position: absolute;
    top: 50px;
    left: 10%;
    color: #fff;
    background-color:rgba(30,30,30,0.6);
    
}
#banner-ad .box-ad .name{
   margin-left: 18%;
   margin-top: -3%;
   width: 20%;
    
    

}
.user{
    height: 80px;
    width: 80px;
    margin-left: 8%;
    margin-top: 3%;
}

.dashboard {
    margin-left: 65%;
    margin-top: -55px;
    width: 270px;
    display: flex;
    justify-content: flex-start;
    background: rgba(255,255,255,10);
    border-radius: 50px;
    
}
.dashboard li{
     list-style: none;
}
.dashboard a{
    font-size: 18px;
    color: #303030;
    text-decoration: none;
    margin-left: 16px;
}

.dashboard a:hover{
   color: rgba(244,130,20,0.9);
}

#banner-ad .box-ad2{
    width: 80%;
    height: 290px;
    position: absolute;
    top: 220px;
    left: 10%;
    color: #fff;
    background-color:rgba(30,30,30,0.6);
    
}

#banner-ad .box-ad2 .ride{
    margin-top: 25px;
    margin-left: 100px;
    height: 100px;
    width: 800px;
}
#banner-ad .box-ad2 .titulo{
    margin-bottom: 10px;
    
 }
.ride caption {
    display: table-caption;
    text-align: -webkit-center;
}
.ride th {
    padding: .2em .8em;
    border: 1px solid rgba(1,1,1,0.5);
    background: rgba(10,10,10,0.5);
    text-align: center;
}
.ride td {
    padding: .2em .8em;
    border: 1px solid rgba(1,1,1,0.5);
    background: rgba(10,10,10,.5);
    text-align: left;
}


.icon-plus{
 margin-left: 10%;
}
.icon-minus{
 
 margin-left: 74%;
}

.box-ad2 .secciones #setting {

    width: 90%;
    height: 240px;
    margin-top: 4%;
    margin-left: 5%;
    
}

.box-ad2 .secciones #setting input{
    
   width: 30%;
   height: 12%;
   margin-left: 20%;
   margin-top: 2%;
}

.box-ad2 .secciones #setting #aboutme{
    width: 40%;
    height: 90px;
    margin-top: 3%;
    
    
}

.box-ad2 .secciones #setting button{
    
    width: 12%;
    height: 30px;
    color: #fff;
    background: rgba(244,130,20,0.9);
    border: none;
    margin-left: 10%;
    margin-top: 10px;
    

}
.box-ad2 .secciones #setting button:hover{
    background: rgba(244,110,10,0.9);
}
.box-ad2 .secciones #setting a{
    
     display: flex;
    color: #fff;
    margin-left: 73.8%;
    margin-top: -22px;
   
}
.box-ad2 .secciones #rides{
    width: 100%;
    height: 275px;
    display: flex;
}
.box-ad2 .secciones #rides .texto{
    width: 60%;
    height: 275px;
    margin-top: 1%;
}

#rides .texto h2{
    margin-left: 5%;
}

#rides .opc{
    width: 40%;
    height: 11px;
    float: right;
    margin-top: 25px;
    
}
#rides .texto p{
    
    height: 80%;
    width: 30%;
    display: inline-flex;
    
}
#rides .texto #eliminar,#edit,#crear{
   margin-top: 10%;
    
}
.box-ad2 .secciones #combo1 {
    color: gray;
    width: 50%;
    height: 30px;
    margin-top: 1%;
    margin-left: 5%;
    
}

.box-ad2 .secciones #rides #name {
    
    width: 50%;
    height: 30px;
    margin-top: 1%;
    margin-left: 5%;
    
}
.box-ad2 .secciones #rides #end, #start{
   
   width: 42.3%;
   height: 30px;
   margin-left: 5%;
    margin-top: 3%;
    
}
.box-ad2 .secciones #rides #descrip{
    
    width: 90%;
    height: 90px;
    margin-top: 4%;
    margin-left: 5%;
    
}
.box-ad2 .secciones #rides .fecha{
    width: 40%;
    height: 275px;
    float: right;
    margin-top: 1%;
}
.fecha form .hora{
    margin-left: 8%;
    margin-top: 2%;
    width: 50%;
    height: 200px;
    float: left
}
.fecha form .dias{
    margin-top: 2%;
    float: right;
    width: 40%;
    height: 200px;
    
}

.fecha form .hora  #llegada, #salida {
     width: 60%;
     height: 80%;
     margin-top: 2%;
     display: block;
     
    
}

.fecha form button{
    width: 30%;
    height: 25px;
    color: #fff;
    float: right;
    margin-right: 40px;
    background: rgba(244,110,10,0.9);
    border:none;
}
