section{
    width:100%;
    margin-bottom: 15px;
    
}
#banner-cl{
    margin-top: 46px;
    position: relative;
    margin-bottom: -8px;
}

#banner-cl img{
    
    width: 100%;
    height: 100%;
}

#banner-cl .box-cl{
    width: 80%;
    height: 140px;
    position: absolute;
    top: 50px;
    left: 10%;
    color: #fff;
    background-color:rgba(30,30,30,0.6);
    
}
#banner-cl{
    margin-top: 46px;
    position: relative;
    margin-bottom: -8px;
}

#banner-cl img{
    
    width: 100%;
    height: 100%;
}

#banner-cl .box-cl2{
    width: 80%;
    height: 290px;
    position: absolute;
    top: 220px;
    left: 10%;
    color: #fff;
    background-color:rgba(30,30,30,0.6);
    
}

#banner-cl .box-cl2 .ride{
    margin-top: 25px;
    margin-left: 100px;
     height: 100px;
    width: 800px;
}
#banner-cl .box-cl2 .titulo{
    margin-bottom: 10px;
    
 }
.ride caption {
    display: table-caption;
    text-align: -webkit-center;
}
.ride th {
    padding: .2em .8em;
    border: 1px solid rgba(1,1,1,0.5);
    background: rgba(10,10,10,0.5);
    text-align: center;
   
}
.ride td {
    padding: .2em .8em;
    border: 1px solid rgba(1,1,1,0.5);
    background: rgba(10,10,10,.5);
    text-align: left;
}
#banner-cl  .box-cl h1{
     
     margin-left: 37%;
     margin-top: 10px;
     font-size: 28px;
    
}

#banner-cl .box-cl form{
     
     margin: 0%;
     margin-top: 60px;
     display: flex;
    margin-left: 0px;
}

#banner-cl .box-cl form input{
    
    width: 400%;
    height: 30px;
    margin-left: 8px;
    
   
}


#banner-cl .box-cl form button{
    
    margin-top: 0.1%;
    margin-left: 5px;
    margin-right: 10px;
    width: 100%;
    height: 29px;
    background: rgba(244,147,30,0.9);
    border: none; 
    color: #fff;
    
    
}

#banner-cl .box-cl form button:hover{
    
    
    background: rgba(244,130,20,0.9);
    
    
}

#banner-cl .box-cl form a{
    margin-top: 2px;
    font-size: 14px;
    color: white;
    margin-left: 20px;
    
}


