
/* el cuerpo de la paginas*/

section{
    width:100%;
    margin-bottom: 15px;
    
}
#banner-re{
    margin-top: 46px;
    position: relative;
    margin-bottom: -8px;
}

#banner-re img{
    
    width: 100%;
    height: 100%;
}

#banner-re .box-re{
    width: 80%;
    position: absolute;
    top: -20px;
    left: 10%;
    color: #fff;
    background-color:rgba(30,30,30,0.6);
    
}

#banner-re  h1{
     text-align: center;
     margin-left: 38%;
     margin-top: 5%;
     font-size: 28px;
    
}

#banner-re .box-re form{
     text-align: center;
     margin: 10% 20%;
     margin-left: 50px;
    
}

#banner-re .box-re form input{
    
    margin-top: 2%;
    width: 110%;
    height: 27px;
   
}

#banner-re .box-re form button{
    
    margin-top: 3%;
    width: 110%;
    height: 20px;
    background: rgba(244,137,30,0.9);
    border: none;
    color: #fff;
    
    
}

#banner-re .box-re form button:hover{
    
    
    background: rgba(244,130,20,0.9);
    
    
}

#banner-re .box-re form a{
    font-size: 11px;
    text-align: center;
    color: white;
    
}




