/*en esta hoja de estilos se programa y se diseña el responsive de la pagina para que se adapte a diferentes dispositivos*/
@media (min-width:230px){
  
    #banner .box h2{
       font-size: 20px;
       margin-left: 25px;
    }
    #banner .box p{
        margin-top: 0px;
        margin-left: 25px;
    }
    #banner .box a{
        margin-top: 2%;
        margin-left: 25px;
    }
}
@media (min-width:305px){
    #banner .box{
        margin-top: -15%;
    }
    #banner  h1{
     margin-left: 32%;
     
}
    #banner-lo .box-lo{
        top: 1%;;
        margin-top: 10%;
        max-height: 240px;
    }
      #banner-lo{
        height: 324px;
        
    }
    #banner-lo .box-lo form{
     margin: 10% 20%;
     margin-left: 32px;
    
}
    #banner-re .box-re{
        top: 1%;;
        margin-top: 10%;
        max-height: 240px;
    }
   
    #banner-re{
        height: 324px;
        
    }
    #banner-re .box-re form{
     margin: 10% 20%;
     margin-left: 32px;
    
}
  
  
  
      
}
@media (min-width:480px){
  
   #banner{
        height: 400px;
        
    }
    #banner .box h2{
       font-size: 30px;
       margin-left: 5%;
    }
    #banner .box p{
        margin-top: 5px;
        margin-left: 6%;
    }
    #banner .box a{
        margin-top: 25px;
        margin-left: 5%;
    }
    #banner-lo .box-lo{
        top: -9%;
        max-height: 276px;
        
    }
    #banner-lo .box-lo form{
        
        max-width: 62%;
        margin-right: 10px;
        margin-left: 15%;
        font-size: 0px;
        
    }
    #banner-lo{
        height: 340px;
        
    }
     #banner-re{
        height: 380px;
        
    }
     #banner-re .box-re{
        top: -9%;
        max-height: 326px;
        
    }
    #banner-re .box-re form{
        
        max-width: 62%;
        margin-right: 10px;
        margin-left: 15%;
    }

   
     
}
@media (min-width:650px){
    #banner-lo .box-lo{
        top: -15%;
        
    }
   
    #banner-re .box-re{
        top: -15%;
        
    }
}
    
@media (min-width:768px){
    .icon{
    width: 120px;
    height: 40px;
    }
    h1 {
    float: left;
    margin: 11px;
    font-size: 28px
    }
    #banner .box{
        margin-top: 10%;
    }
    #banner{
        height: 300px;
        overflow: hidden;
    }
    #banner img{
        height: auto;
        margin-top: -100px;
    }
    #banner .box h2{
       font-size: 30px;
        margin-top: -180px;
       margin-left: 5%;
    }
    #banner .box p{
        
        margin-left: 5%;
    }
    #banner .box a{
        margin-top: 25px;
        margin-left: %;
    }
    
   
    #banner-lo{
        height: 570px;
        overflow: hidden;
    }
    #banner-lo img{
        height: auto;
        margin-top: -5px;
    }
    #banner-lo .box-lo form a{
        
        font-size: 14px;
        margin-left: 15%;
        
    }
    #banner-lo .box-lo{
        top: -30px;
        max-height: 330px;
        
    }
    #banner-lo .box-lo h1{
       font-size: 38px;
       margin-left: 40%;
    }
 
      #banner-re{
        height: 570px;
        overflow: hidden;
    }
    #banner-re img{
        height: auto;
        margin-top: -5px;
    }
    #banner-re .box-re form a{
        
        font-size: 14px;
        margin-left: 15%;
        
    }
    #banner-re .box-re{
        top: -72px;
        max-height: 345px;
        max-width: 600px;
        
    }
    #banner-re .box-re h1{
       font-size: 32px;
       margin-left: 40%;
    }
    
}
@media (min-width:970px){
   
    #banner-re .box-re{
        top: -82px;
        
    }
}

@media (min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translate(0%);
        float: right;
        display: flex;
        background: #323232;
    }
    
    .menu a{
        
        border: none;
    }
    header label {
        display: none;
    }
    
    .box{
        width: 1000px;
    }
    
     #banner img{
        margin-top: -200px;
    }
     #banner-lo .box-lo form{
        
        max-height: 100%;
        max-width: 400px;
        margin-top: 15%;
        margin-left: 18%;
        margin-right: 0%;
        font-size: 50px;
        
    }
    #banner-lo{
        height: 570px;
        overflow: hidden;
    }
    #banner-lo img{
        height: auto;
        margin-top: -100px;
    }
    #banner-lo .box-lo form a{
        
        font-size: 15px;
        margin-left: 15%;
        
    }
    #banner-lo .box-lo{
        top: -7%;
        margin-left: 11%;
        max-height: 700px;
        max-width: 700px;
    }
    #banner-lo .box-lo h1{
       font-size: 48px;
       margin-left: 40%;
    }
 
    #banner-cl{
        height: 570px;
        overflow: hidden;
    }
    #banner-cl img{
        height: auto;
        margin-top: -100px;
    }
  
 
    #banner-re .box-re form{
        
        max-height: 100%;
        max-width: 400px;
        margin-top: 15%;
        margin-left: 18%;
        margin-right: 0%;
        font-size: 50px;
        
    }
    #banner-re{
        height: 570px;
        overflow: hidden;
    }
    #banner-re img{
        height: auto;
        margin-top: -100px;
    }
    #banner-re .box-re form a{
        
        font-size: 15px;
        margin-left: 15%;
        
    }
    #banner-re .box-re{
        top: -15%;
        margin-left: 11%;
        max-height: 700px;
        max-width: 700px;
    }
    #banner-re .box-re h1{
       font-size: 48px;
       margin-left: 37%;
    }
}



