/*En esta hoja de estilos le hereda a casi todas las .html ya que asi se ahorra codigo ademas aqui se le da el diseño del hearder y footer*/

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400,500,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "century gothic", sans-serif;
  font-weight: normal;
  color: #101010;

}

.icon{
    width: 10px;
    height: 10px;
}


header {
    width: 100%;
    height: 50px;
    background: #323232;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.box {
    width: 100%;
    margin: auto;
}

#menu-bar{
    display: none;
   
}
.icon{
    float: left;
    margin: 4px 0;
}
h1 {
    float: left;
    margin: 11px;
    font-size: 15px
}



header label{
    font-size: 28px;
    margin: 6px 0;
    float: right;
    cursor: pointer;
}

header .box{
    display: table;
    
}


.menu{
    
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51,51,51,0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration:none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    
}

.menu a:hover{
    background: rgba(244,137,40,0.9);
}

#menu-bar:checked ~ .menu{
    
    transform: translate(0%)
}

/* el cuerpo de la paginas*/

section{
    width:100%;
    margin-bottom: 15px;
    
}
#banner{
    margin-top: 46px;
    position: relative;
}

#banner img{
    
    width: 100%;
    height: 100%;
}

#banner .box{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
    color: #fff;
    
}

#banner .box h2{
    margin-top: 10px;
    font-size: 18px;
}
#banner .box p{
    font-size: 14px;
}
#banner .box a{
    font-size: 10px;
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #fff;
    
}

#banner a:hover{
    background: rgba(244,137,40,0.9);
    
}


#banner2{
    text-align: center;
}

#banner3 h3,h4{
    text-align: center;
}

#banner3 .box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#banner3 article {
    margin: 15px;
}

#banner3 img {
    width: 100%;
    max-width: 280px;
    
}

/* End About Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============== footer-area css ===============*/
.footer-area {
  background: #04091e; }
.p_120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.news_widget {
  padding-left: 15px; }
  .news_widget p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    margin-bottom: 15px; }
  .news_widget .input-group input {
    height: 40px;
    background: #fff;
    border-radius: 0px;
    width: 80%;
    border: none;
    padding: 0px 15px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #777777;
    outline: none;
    box-shadow: none; }
   
   

.footer_title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: #fff;
  margin-bottom: 28px; }

.icon-right-open{
    width: 40px;
    height: 40px;
    
    border: none;
    
}

.icon-right-open:hover{
    
    color: #fff;
    background: #4dbf1c;
    border: none;
}  


.footer-bottom {
  padding-top: 85px; }
 
   
  .footer-bottom .footer-social {
    text-align: center; 
    
  }

    .footer-bottom .footer-social a {
      font-size: 14px;
      line-height: 30px;
      color: #fff;
      margin-left: 6px;
      transition: all 0.3s linear;
      background: #1e2235;
      height: 30px;
      width: 30px;
      text-align: center;
      display: inline-block;
      transition: all 300ms linear 0s; }
      .footer-bottom .footer-social a:hover {
        color: #fff;
        background: #4dbf1c; }

/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
